<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация — MyApp</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragment/topbar :: topbar}"></div>

<div class="register-page">
    <div class="register-container">
        <h2 class="register-title">Create account</h2>

        <form th:action="@{/api/auth/register}" th:object="${userDto}" method="post">

            <div class="form-group">
                <label for="firstName">FirstName *</label>
                <input type="text" id="firstName" th:field="*{fullName.firstName}" required />
            </div>

            <div class="form-group">
                <label for="lastName">LastName *</label>
                <input type="text" id="lastName" th:field="*{fullName.lastName}" required />
            </div>

            <div class="form-group">
                <label for="middleName">MiddleName</label>
                <input type="text" id="middleName" th:field="*{fullName.middleName}"/>
            </div>

            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" th:field="*{email}" placeholder="example@mail.com" required />
            </div>

            <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" id="password" th:field="*{password}" required />
            </div>

            <div class="form-group">
                <label for="phoneNumber">Tel</label>
                <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" placeholder="+380508109120" />
            </div>


            <button type="submit">Registration</button>
        </form>

        <div class="login-link">
            Has account? <a th:href="@{/api/auth/login}">Log in</a>
        </div>
    </div>
</div>

</body>
</html>