<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.example.athleticore.logging">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <CustomFileAppender name="CustomFileAppender" fileName="logs/custom-logs.log">
            <CustomFileLayout />
        </CustomFileAppender>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="CustomFileAppender"/>
        </Root>
    </Loggers>
</Configuration>