<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Training</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <h1>Training Session Details</h1>

    <div class="session-card" th:object="${trainingSession}">

        <p><b>Training:</b> <span th:text="*{name}"></span></p>
        <p><b>Date:</b> <span th:text="*{date}"></span></p>
        <form th:action="@{/api/booking/{id}(id=*{id})}" method="post">
            <button type="submit" class="btn btn-primary">Book now</button>
        </form>

    </div>

</div>

</body>
</html>
