<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Successful</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="booking-success">
    <h2>Успішно заброньовано!</h2>

    <p>Тренування: <span th:text="${booking.sessionName}"></span></p>
    <p>Дата: <span th:text="${booking.sessionDate}"></span></p>
    <p>Ваше ім’я: <span th:text="${booking.clientName}"></span></p>

    <a class="back-link" href="/api/sessions">Повернутися до розкладу</a>
</div>

</body>
</html>
